.header {
	background-color: #0044AA;
	margin-left: auto;
	margin-right: auto;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #002299),
		color-stop(1, #0044AA)
	);
	background-image: -o-linear-gradient(bottom, #002299 0%, #0044AA 100%);
	background-image: -moz-linear-gradient(bottom, #002299 0%, #0044AA 100%);
	background-image: -webkit-linear-gradient(bottom, #002299 0%, #0044AA 100%);
	background-image: -ms-linear-gradient(bottom, #002299 0%, #0044AA 100%);
	background-image: linear-gradient(to bottom, #002299 0%, #0044AA 100%);
}

.mainpage {
	background-color: #FFF6F6;
}

.logo {
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.logoleft {
	margin-left: 10px;
	margin-right: auto;
	width: 30%;
}

.headerh1 {
	color: white;
}

#toplogo {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

body {
	font-size: 100%;
}

#primary {
	width: 50%;
	float: left;
	font-family: "Arial", "Verdana", sans-serif;
	font-size: 0.875em;
}

#secondary {
	width: 40%;
	float: left;
	font-family: "Arial", "Verdana", sans-serif;
	font-size: 0.875em;
}

#para {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
